#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button{
  width: 80px;
  height: 80px;
  border: 4px solid rgb(12, 12, 12);
 
}

span{
  font-size: 40px;
  color: blue;
}

